header:first-of-type {
  display: grid;
  place-items: center;
  justify-items: center;
  align-items: end;
  background-color: #A5B2B8;
  color: #ffffff;
  grid-template-columns: 15rem auto 30rem;
  grid-template-rows: auto;
  grid-template-areas:
    "logo options login";
}

header:first-of-type * {
  padding: 0;
  margin: 0;
}

header:first-of-type a {
  text-decoration: none;
  color: #ffffff;
  padding: 0;
  margin: 0;
}

header:first-of-type a:hover {
  text-decoration: underline;
}

header:first-of-type h1 a:hover {
  text-decoration: none;
}

header:first-of-type h1 {
  grid-area: logo;
  text-transform: lowercase;
  padding-bottom: 1rem;
}

header:first-of-type .header_options {
  grid-area: options;
  justify-self: start;
  align-self: end;
  padding-bottom: 1.2rem;
}

header:first-of-type .header_login {
  grid-area: login;
  display: grid;
  justify-self: end;
  align-self: end;
  padding-right: 2em;
  padding-bottom: 1.2rem;
}

header:first-of-type .login {
  font-size: x-small;
}

header:first-of-type .login form {
  display: grid;
  grid-template-columns: repeat(5, 8em);
  grid-template-rows: auto auto;
  grid-template-areas:
    "username_label username_input password_label password_input submit"
    "register register register register register";

  justify-items: end;
  align-items: end;
}

header:first-of-type .login * {
  display: inline-block;
  margin: 0;
  padding: 0;
}

header:first-of-type .login input {
  width: 5em;
}

header:first-of-type .login label{
  padding-right: 0.5em;
}

header:first-of-type .login label:nth-of-type(1){
  grid-area: username_label;
}

header:first-of-type .login input:nth-of-type(1) {
  grid-area: username_input;
}

header:first-of-type .login label:nth-of-type(2){
  grid-area: password_label;
}

header:first-of-type .login input:nth-of-type(2) {
  grid-area: password_input;
}

header:first-of-type .login button {
  grid-area: submit;
  justify-self: stretch;
  align-self: stretch;
  font-size: x-small;
}

header:first-of-type .login a,
header:first-of-type .login p {
  grid-area: register;
}

header:first-of-type .logout {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  grid-template-areas:
    "username"
    "logout";
  justify-items: start;
  align-items: center;
}

header:first-of-type .logout a {
  grid-area: username;
}

header:first-of-type .logout button {
  grid-area: logout;
  justify-self: stretch;
  align-self: stretch;
  font-size: x-small;
}

