@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allerta+Stencil&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300&display=swap');

body {
  font-family: 'Allerta Stencil', sans-serif;
  margin: 0;
  padding: 0;

  display: grid;

  grid-template-columns: auto;
  grid-template-rows: 5em auto 4em;
  grid-template-areas:
    "header"
    "main"
    "footer";
  min-height: 100vh;
  background-color: #b2b3b3;
}

header:first-of-type {
  grid-area: header;
}

footer:last-of-type {
  max-height: 5em;
  color: #ffffff;
  background-color: #b2b3b3;
  grid-area: footer;
  padding: 1em;
}

main {
  font-family: 'Fira Sans', sans-serif;
  display: grid;
  justify-content: start;
  align-content: start;
  grid-area: main;
  background-color: #ffffff;
  padding: 3em;
}

/* body {
  min-height: 100vh;
  display: grid;
  grid-template-rows: 1fr auto;
} */

footer * {
  display: block;
}

footer {
  text-transform: lowercase;
}

form * {
  display: block;
}

a {
  text-decoration: none;
  color: orange;
}

a:hover {
  text-decoration: none;
  color: #b2b3b3;
}

button {
  background-color: #b2b3b3;
  color: #ffffff;
  border: none;
  border-radius: 0.5em;
  padding: 0.5em;
  font-size: 1em;
  font-weight: 100;
  cursor: pointer;
  margin: 1em 0;
}

button:hover {
  background-color: #ef7f1a;
}

.success {
  color: green;
}

.error {
  color: red;
}

.radio_form {
  margin-top: 1em;
}

.radio_form input{
  display: inline;
}

.radio_form p{
  display: inline;
}

.radio_span {
  display: block;
}

.search_list a {
  color: black;
}

.search_list a:hover {
  color:#ef7f1a;
}

.faq_group {
  margin-top: 1em;
  width: auto;
  padding: 1em;
}
/*
CORRIGIR WIDTHS
*/
.faq {
  border-bottom: solid #b2b3b3 1px;
  margin-bottom: 0.5em;
}

p {
  overflow-wrap: break-word;
}

.faq_question {
  font-weight: bold;
}

.submit_faq, .submit_ticket {
  width: 450%;
}

.submit_faq #question {
  width: 100%;
  height: 3em;
}

.submit_ticket #title, .submit_ticket #department {
  width: 100%;
}

.submit_faq #answer, .submit_ticket #message {
  width: 100%;
  height: 15em;
}

.username, .email, .type, .ticket_client, .ticket_agent, .ticket_status, .ticket_department, .ticket_hashtags {
  margin-bottom: 1em;
}

.bold {
  font-weight: bold;
}

.department_options {
  display: flex;
  justify-content: space-between;
  width: 89vw;
}

.invisible {
  display: none;
}

.ticket_list a {
  color: black;
  text-decoration: none;
}

.ticket_list a:hover {
  color: orange;
  text-decoration: none;
}

.send_message {
  display: grid;
  grid-template-columns: 7fr 1fr;
  height: 2em;
}

.send_message * {
  height: 2em;
  margin: 0;
}

.ticket_message_field {
  width: 85vw;
  margin-top: 3em;
  background-color: #d5daed;
  padding: 1em;
}
/*
CORRIGIR WIDTH
*/

.ticket_messages {
  display: grid;
}

.ticket_message {
  padding: 0.5em;
  margin: 0.5em;
  width: fit-content;
  max-width: 90%;
  overflow-wrap: break-word;
}

.right {
  background-color:#a0db8e;
}

.left {
  background-color: #ffffff;
}
