.hidden {
  opacity: 0;
  filter: blur(1px);
  transition: opacity 2s, filter 2s;
}

.show {
  opacity: 1;
  filter: blur(0);
}

h1.hidden {
  transition-delay: 0s;
}

.header_options.hidden {
  transition-delay: 0.3s;
}

.logout.hidden, .login.hidden, .options.hidden{
  transition-delay: 0.6s;
}

footer.hidden {
  transition-delay: 0.9s;
}



